//Footer

#footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(91, 91, 91);
  padding: 50px 200px 50px 200px;

  .texts {
    width: 100%;
    line-height: 18px;
    list-style-type: none;
    color: white;
    font-size: 12px;
    font-family: "Urbanist", sans-serif;
    letter-spacing: 1px;
    padding-bottom: 40px;

    p {
      padding: 10px 0px 10px 0px;
    }
  }

  .row-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .notes {
      width: 200px;
      line-height: 23px;
      list-style-type: none;
      color: white;
      font-size: 13px;
      font-family: "Urbanist", sans-serif;
      letter-spacing: 1.5px;
    }

    p {
      padding: 8px;
    }
  }
}
