// Thank you Page

#order-form {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  text-align: center;

  h2 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 40px;
    font-weight: 1000;
    letter-spacing: 1.5px;
  }

  h5 {
    font-family: "Urbanist", sans-serif;
    font-size: 15px;
    font-weight: 1000;
    letter-spacing: 1px;
    line-height: 25px;
  }

  .email {
    font-family: "Red Hat Display", sans-serif;
    font-size: 30px;
    font-weight: 1000;
    letter-spacing: 1.5px;
    line-height: 50px;
  }
}

.image-thankyou {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 70px;
}
